@model IEnumerable<LectureRegistrationSystem.Web.Models.Lecture>

@{
    ViewBag.Title = "ShowLectures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jūsu lekcijas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LectureName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <ol>@Html.DisplayFor(modelItem => item.LectureName)</ol>
            </td>
        </tr>
    }

</table>
